body {
  font-family: Arial;
  background-color: #001e4a;
  color: white;
    font-size: 15pt;
}
.welcome{
  color: #56f921;
  font-size: 27px;
  
}
.top span{
  color yellow;
}
.info{
  border:2px solid red;
  border-radius: 30px;
  padding: 50px;
}
b{color:red;}
img{
  width: 100%;
}